/* Sara Fernández González UO288195*/

/*Especificidad 011*/
section[data-type=botonera]{
    display: none;
    width: 50%; 
    float: right;
    box-sizing: border-box;
}

@media screen and (max-width: 800px){
        /* Estilos para una mediaquery
    que muestre la botonera en tablet y móvil */
    /*Especificidad 011*/
    section[data-type=botonera] {
        display: flex;
        gap: 0.3em;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    /*Especificidad 012*/
    section[data-type=botonera] h2 {
        width: 100%;
        text-align: center;
    }

    /*Especificidad 012*/
    section[data-type=botonera] button {
        width: calc(15% - 1em);
        height: 4em;
        text-align: center;
        font-size: 150%;
        background-color: #000;
        color: #FFF;
    }
}

@media screen and (max-width: 600px){

    /*Especificidad 011*/
    section[data-type=botonera] {
        display: block;
        float: none;
        width: 100%;
    }

    /*Especificidad 012*/
    section[data-type=botonera] button {
        width: 5%;
        height: 2.5em;
        text-align: center;
        font-size: 120%;
        background-color: #000;
        color: #FFF;
    }
}

