/*Sara Fernández González UO288195*/

/*Especificidad 001*/
main{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(11, 1fr);
    width: 25%;
    height: 25em;
    margin:0;
    padding: 0;
    float: left;
    box-sizing: border-box;
}
@media screen and (max-width: 800px){
    main{
        width: 50%;
    }
    li[data-type = "ordenador"]{
        display:none
    }
}
@media screen and (max-width: 600px){
    main{
        width: 100%;
    }
}

/*Especificidad 011*/
main.finished{
    background-color: rgb(183, 238, 184);
}

/*Especificidad 002*/
main > p{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #05445E;
    margin:0;
    padding: 0;
    font-size: 150%;
    
}

/*Especificidad 012*/
main > p[data-state = "empty"]{
    background-color: #05445E ;
}

/*Especificidad 012*/
main > p[data-state = "clicked"]{
    background-color: #6abecf ;
}
/*Especificidad 012*/
main > p[data-state = "fail"]{
    background-color: rgb(246, 187, 187);
}

section > ul > li{
    font-size: 120%;
}

body > section > h3{
    font-size: 120%;
}