/*Sara Fernández González UO288195*/

/*Especificidad 001*/
header{
    background-color: #05445E;
    color: #D4F1F4;
    display: flex;
    flex-wrap: wrap;
    width: 99%;
}

/*Especificidad 002*/
header>h1{
    padding: 1%;
}

/*Especificidad 002*/
header > nav{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin:0;
    padding: 0;
    width: 70%;
    gap: 1em;
}

/*Especificidad 003*/
header > nav > a{
    padding: 0.5em;
    color:#D4F1F4 !important;
}
